<ul class="nav justify-content-center">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            کاربران
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/adminUsers" class="dropdown-item">مدیریت کاربران</NavLink></li>            
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            پوسترها
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/showfilmposter/adminNationalFilmPosters" class="dropdown-item">مدیریت پوستر فیلم‌های ایرانی</NavLink></li>
            <li><NavLink href="/admin/showfilmposter/adminForeignFilmPosters" class="dropdown-item">مدیریت پوستر فیلم‌های خارجی</NavLink></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            مقالات
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/adminBlog" class="dropdown-item">مدیریت مقالات</NavLink></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            سفارشات
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/adminOrders" class="dropdown-item">مدیریت سفارشات</NavLink></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            مالی
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/adminIncomes" class="dropdown-item">درآمدها</NavLink></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">
            تماس‌ها
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><NavLink href="/admin/adminNewsletters" class="dropdown-item">خبرنامه‌ها</NavLink></li>
        </ul>
    </li>
</ul>