@page "/"
@rendermode InteractiveWebAssembly
@using FIlmposter.Client.Layout
@layout MainLayout

<PageTitle>Home</PageTitle>
@* <h1>Hello, world!</h1>
<button @onclick="ChangeLayout">Use Main Layout22</button> *@

@code {

}
@functions {
    // public void ChangeLayout()
    // {
    //     Console.WriteLine("sadas");
    // }
}
