@page "/"

<PageTitle>Home</PageTitle>
<body class="bg-dark home-five">
    <div class="smooth-scroll-container">
        <!-- Start Preloader
          ============================================= -->
        <div id="preloader">
            <div id="avrix-preloader" class="avrix-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Header
          ============================================= -->
        <header>
            <!-- Start Navigation -->
            <nav class="navbar mobile-sidenav navbar-default validnavs nav-full-width white bg-dark navbar-fixed">
                <div class="container d-flex justify-content-between align-items-center">
                    <!-- Start Header Navigation -->
                    <div class="col-xl-2 col-lg-3">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html">
                                <img src="SiteTemplate/img/logo-light.png"
                                     class="logo logo-scrolled"
                                     alt="لوگو" />
                            </a>
                        </div>
                    </div>
                    <!-- End Header Navigation -->

                    <div class="attr-right">
                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav flex">
                            <ul>
                                <li class="side-menu">
                                    <a href="#">
                                        <strong>منو </strong>
                                        <div class="line">
                                            <span class="bar-1"></span>
                                            <span class="bar-2"></span>
                                            <span class="bar-3"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->

                        <div class="col-lg-2">
                            <!-- Start Side Menu -->
                            <div class="side text-light">
                                <a href="#" class="close-side">
                                    بستن <i class="fas fa-times"></i>
                                </a>
                                <div class="widget">
                                    <div class="logo">
                                        <img src="SiteTemplate/img/logo-light.png" alt="لوگو" />
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1">
                                            <div class="side-navbar-inner">
                                                <div class="simple-menu">
                                                    <ul class="simple-menu-list">
                                                        <li>
                                                            <a href="#">خانه </a>
                                                            <i class="fas fa-plus"></i>
                                                            <ul class="sub-menu">
                                                                <li>
                                                                    <a href="index-2.html">
                                                                        نمونه کار افقی
                                                                        <span class="badge">ترند</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="index-5.html">
                                                                        نمونه کار پارالاکس
                                                                        <span class="badge">جدید</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">آژانس دیجیتال</a>
                                                                </li>
                                                                <li><a href="index-3.html">آژانس خلاق</a></li>
                                                                <li>
                                                                    <a href="index-4.html">اسلایدر نمونه کارها</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">بلاگ </a>
                                                            <i class="fas fa-plus"></i>
                                                            <ul class="sub-menu">
                                                                <li>
                                                                    <a href="blog-standard.html">استاندارد وبلاگ</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-with-sidebar.html">بلاگ همراه با سایدبار</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-2-colum.html">بلاگ گرید دو ستونی</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-3-colum.html">بلاگ گرید سه ستونی</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-single.html">بلاگ تکی</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-single-with-sidebar.html">بلاگ تکی همراه با سایدبار</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="services.html">خدمات </a></li>
                                                        <li><a href="about-us.html">درباره</a></li>
                                                        <li><a href="contact-us.html">تماس با ما</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1">
                                            <div class="side-widgets">
                                                <div class="widget address">
                                                    <div>
                                                        <ul>
                                                            <li>
                                                                <div class="content">
                                                                    <p>آدرس</p>
                                                                    <strong>کالی فورنیا, TX 70240</strong>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="content">
                                                                    <p>ایمیل</p>
                                                                    <strong>support@validtheme.com</strong>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="content">
                                                                    <p>تماس با ما</p>
                                                                    <strong>+44-20-7328-4499</strong>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="widget newsletter">
                                                    <h4 class="title">مشترک شدن!</h4>
                                                    <form action="#">
                                                        <div class="input-group stylish-input-group">
                                                            <input type="email"
                                                                   placeholder="ایمیل خود را وارد کنید"
                                                                   class="form-control"
                                                                   name="email" />
                                                            <span class="input-group-addon">
                                                                <button type="submit">
                                                                    <i class="fas fa-arrow-right"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="widget social">
                                                    <ul class="link">
                                                        <li>
                                                            <a href="#">
                                                                <i class="fab fa-facebook-f"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fab fa-linkedin-in"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fab fa-behance"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Side Menu -->
                        </div>
                    </div>
                    <!-- Main Nav -->
                </div>
                <!-- Overlay screen for menu -->
                <div class="overlay-screen"></div>
                <!-- End Overlay screen for menu -->
            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Header -->
        <!-- Start Banner
          ============================================= -->
        <div class="banner-style-five-area"
             style="background-image: url(SiteTemplate/img/shape/7.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="banner-five-info text-light animate fadeInUp">
                            <h2>
                                طراحی <strong>پوستر<span>پوستر</span></strong>
                            </h2>
                            <div class="button overflow-hidden mt-50">
                                <a href="project-details.html" class="btn-animated">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
        <!-- Start Scroll Portfolio
          ============================================= -->
        <div class="scroll-parallax-area text-light">
            <div class="parallax-container">
                <div class="preview">
                    <div class="preview__wrapper">
                        <span class="cursor cursor-hover">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <div class="parallax-items">
                            <section class="parallax-item">
                                <div class="parralax-overlay">
                                    <span>طراحی</span>
                                    <h2>طراحی پوستر فیلم</h2>
                                    <p>طراحی پوسترهای حرفه و لول جهانی فیلم های کوتاه و بلند</p>
                                </div>
                                <div class="item-background"
                                     style="background-image: url(SiteTemplate/img/projects/12.jpg)"></div>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#projectSingleModal"></a>
                            </section>
                            <section class="parallax-item">
                                <div class="parralax-overlay">
                                    <span>مسابقه</span>
                                    <h2>برگزار کننده مسابقه طراحی پوسترهای فیلم</h2>
                                    <p>18 آذر, 1402</p>
                                </div>
                                <div class="item-background"
                                     style="background-image: url(SiteTemplate/img/projects/14.jpg)"></div>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#projectSingleModal"></a>
                            </section>
                            <section class="parallax-item">
                                <div class="parralax-overlay">
                                    <span>طراحی</span>
                                    <h2>طراحی پوستر و بنرهای صنعتی</h2>
                                    <p>طراحی تخصصی برندهای تبلغاتی صنعتی و بازرگانی</p>
                                </div>
                                <div class="item-background"
                                     style="background-image: url(SiteTemplate/img/projects/13.jpg)"></div>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#projectSingleModal"></a>
                            </section>
                            <section class="parallax-item">
                                <div class="parralax-overlay">
                                    <span>مشاوره</span>
                                    <h2>مشاوره تخصصی طراحی و پیاده سازی های باکسینگ صنعتی</h2>
                                    <p>18 مهر, 1402</p>
                                </div>
                                <div class="item-background"
                                     style="background-image: url(SiteTemplate/img/projects/18.jpg)"></div>
                                <a href="#"
                                   data-bs-toggle="modal"
                                   data-bs-target="#projectSingleModal"></a>
                            </section>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Scroll Portfolio -->
    </div>

    <!-- Start Accordion Single Modal
    ============================================= -->
    <div class="popup-single-modal modal fade text-light"
         id="projectSingleModal"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="بستن"></button>
                    </div>

                    <div class="project-details-items">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-thumb">
                                    <img src="SiteTemplate/img/projects/15.jpg" alt="تصویر" />
                                </div>
                            </div>
                            <div class="col-xl-10 offset-xl-1">
                                <div class="project-details mt-50">
                                    <div class="top-info">
                                        <div class="row">
                                            <div class="col-lg-4 order-lg-last">
                                                <ul class="gallery-project-basic-info">
                                                    <li>
                                                        <div class="info">
                                                            مشتری: <span>فرهام اقدسی</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="info">
                                                            نوع پروژه: <span>رشد وب سایت</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="info">
                                                            تاریخ: <span>25 آذر, 1402</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="info">
                                                            آدرس: <span>نیو یورک آمریکا</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-lg-8">
                                                <h2>بهترین راه حل های دیجیتال</h2>
                                                <p>
                                                    آرایش آرایش در فردا با تولیدی متولد می شود.کارتن
                                                    تعطیلات غیر اتفاقی.شرکا نیز می خواهند ، پروتئین.SED
                                                    Lectus Morph برای راه اندازی Rutrum Mauris Mauris
                                                    Mauris به عنصر تبلیغ کننده اکولوژیک تبلیغ کننده در
                                                    حال چسبیدن به کازینو چینی Pharetra sapien چینی هر
                                                    دره های دره های موجود تا زمانی که هیچ Venenatis وجود
                                                    ندارد ، دروازه لبخند Malesuada nulla nulla nulla
                                                    nulla.Viverra فقط قبل از عنصر AENEAS از چت Viverra
                                                    استفاده شده است.طرف در زندگی گذشته.ادامه دادن به
                                                    صحبت کردن در مورد موقعیت داخلی وحشتناک بود.با دیدن
                                                    او ، مردان مورد احترام نیستید ، بهانه نبوغ را حل می
                                                    کنید.معامله بیش از سن شما از سن.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-40 mb-40">
                                        <div class="col-lg-5 pr-50 pr-md-15 pr-xs-15">
                                            <div class="check-list">
                                                <div class="single-list">
                                                    <h4>بهینه سازی سیار</h4>
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                        صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                                        چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                        سطرآنچنان که
                                                    </p>
                                                </div>
                                                <div class="single-list">
                                                    <h4>اتوماسیون بازاریابی</h4>
                                                    <ul class="list-disc">
                                                        <li>بازاریابی از طریق رسانه های اجتماعی</li>
                                                        <li>بهینه سازی موتور جستجو (seo)</li>
                                                        <li>پابلیک روابط</li>
                                                        <li>بازاریابی محتوا</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="thumb-grid">
                                                <img src="SiteTemplate/img/portfolio/v1.jpg" alt="تصویر" />
                                                <img src="SiteTemplate/img/portfolio/v2.jpg" alt="تصویر" />
                                            </div>
                                        </div>
                                    </div>

                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                        و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                                        شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                        بهبود ابزارهای کاربردی می باشد، کتابهای
                                    </p>
                                    <div class="row mt-50 mt-xs-30">
                                        <div class="col-lg-6 col-md-6">
                                            <img src="SiteTemplate/img/portfolio/11.jpg" alt="تصویر" />
                                        </div>
                                        <div class="col-lg-6 col-md-6 mt-xs-30">
                                            <img src="SiteTemplate/img/portfolio/12.jpg" alt="تصویر" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Projects Single Modal -->
</body>