@page "/"

<PageTitle>Home</PageTitle>

@inject HttpClient Http
@if (modelHome.ResultNationFilmPostersServiceDto.Result == null || modelHome.ResultNationFilmPostersServiceDto == null)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (°C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var poster in modelHome.ResultNationFilmPostersServiceDto.Result)
            {
                <tr>
                    <td>@poster.Director</td>
                </tr>
            }
        </tbody>
    </table>
}

@using FilmPoster.Application.Servies.NationFilmPosters.Queries.GetNationFilmPosters
@using Filmposter.Model;
@code {
    ModelHome modelHome = new ModelHome();
    protected override async Task OnInitializedAsync()
    {
        modelHome.ResultNationFilmPostersServiceDto = new ResultGetNationFilmPostersServiceDto();
        modelHome.ResultNationFilmPostersServiceDto = await Http.GetFromJsonAsync<ResultGetNationFilmPostersServiceDto>("/api/NationFilmPosters");
    }

}