@inherits LayoutComponentBase
<body>
    <div class="smooth-scroll-container">
        <!-- Start Preloader
        ============================================= -->
@*         <div id="preloader">
            <div id="avrix-preloader" class="avrix-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
        <!-- End Preloader -->
        <!-- Header
        ============================================= -->
        <Header/>
        <!-- End Header -->
        <!-- Start Breadcrumb
        ============================================= -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-item">
                    <div class="breadcrum-shape">
                        <img src="/SiteTemplate/img/shape/bg-shape-3.png" alt="شکل" />
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="blog-3-colum.html##"><i class="fas fa-home"></i> خانه</a>
                                    </li>
                                    <li class="active">وبلاگ</li>
                                </ol>
                            </nav>
                            <h1>شبکه وبلاگ</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb -->
        <!-- Start Body
        ============================================= -->
        @Body
        <!-- End Body -->
        <!-- Start Footer
        ============================================= -->
        <Footer/>
        <!-- End Footer -->
    </div>
</body>