@inherits LayoutComponentBase
@Body
<body class="bg-dark">
    <div class="smooth-scroll-container">

        <!-- Start Preloader
        ============================================= -->
@*         <div id="preloader">
            <div id="avrix-preloader" class="avrix-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
        <!-- End Preloader -->
        <!-- Header
        ============================================= -->
        <MainHeader/>
        
        <!-- End Header -->
        <!-- Start Banner
        ============================================= -->
        <div class="banner-style-one" style="background-image: url(/SiteTemplate/img/shape/1.png);">
            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-8 banner-one-item">
                        <h4>استودیوی دیجیتال خلاق</h4>
                        <h2>عالی ساختن <strong>نمونه کارها</strong></h2>
                    </div>
                    <div class="col-lg-3 offset-lg-1 banner-one-item text-center">
                        <div class="curve-text">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                <text><textPath href="#textPath">آژانس برنده جایزه آژانس برنده جایزه </textPath></text>
                            </svg>
                            <a href="https://www.youtube.com/watch؟v=ipUuoMCEbDQ" class="popup-youtube"><i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
        <!-- Start Background Move
        ============================================= -->
        <div class="banner-animation-zoom">
            <div class="animation-zoom-banner" id="js-hero" style="background-image: url(/SiteTemplate/img/banner/1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="experience-box">
                            <div class="inner-content">
                                <h2><strong>28+</strong> سال ها تجربه</h2>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                </p>
                                <a class="btn-animation" href="services.html"><i class="fas fa-arrow-left"></i> <span>خدمات ما</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Background Move -->
        <!-- Start Services
        ============================================= -->
        <div class="creative-services-area overflow-hidden default-padding">

            <div class="bg-static">
                <img class="bg-move" src="/SiteTemplate/img/shape/5.png" alt="تصویر پیدا نشد">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="site-heading">
                            <h4 class="sub-title">خدماتی که ما ارائه می دهیم</h4>
                            <h2 class="title">اطلاعات را تبدیل کنید <br> به بینش های عملی</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container container-stage">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="services-item-one-items">
                            <!-- Navigation -->
                            <div class="services-nav">
                                <div class="nav-items">
                                    <div class="services-button-prev"></div>
                                    <div class="services-button-next"></div>
                                </div>
                            </div>
                            <div class="services-carousel swiper">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">

                                    <!-- Single Item -->
                                    <div class="swiper-slide">
                                        <div class="cteative-service-item">
                                            <img src="/SiteTemplate/img/icon/1.png" alt="آیکون">
                                            <h4><a href="services-details.html">بازاریابی دیجیتال</a></h4>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                            </p>
                                            <span>01</span>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="swiper-slide">
                                        <div class="cteative-service-item">
                                            <img src="/SiteTemplate/img/icon/2.png" alt="آیکون">
                                            <h4><a href="services-details.html">ردیابی رشد</a></h4>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                            </p>
                                            <span>02</span>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="swiper-slide">
                                        <div class="cteative-service-item">
                                            <img src="/SiteTemplate/img/icon/3.png" alt="آیکون">
                                            <h4><a href="services-details.html">برند سازی محصول</a></h4>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                            </p>
                                            <span>03</span>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="swiper-slide">
                                        <div class="cteative-service-item">
                                            <img src="/SiteTemplate/img/icon/4.png" alt="آیکون">
                                            <h4><a href="services-details.html">مشاوره شرکت</a></h4>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                            </p>
                                            <span>04</span>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Services -->
        <!-- Start About
        ============================================= -->
        <div class="about-area default-padding-bottom relative">
            <div class="blur-bg-theme"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="about-style-one-thumb animate" data-animate="fadeInUp">
                            <img src="/SiteTemplate/img/about/1.jpg" alt="تصویر پیدا نشد">
                            <div class="fun-fact text-light animate" data-animate="fadeInDown" data-duration="1s">
                                <div class="counter">
                                    <div class="timer" data-to="38" data-speed="2000">38</div>
                                    <div class="operator">هزار</div>
                                </div>
                                <span class="medium">پروژه های تکمیل شده</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 pl-80 pl-md-15 pl-xs-15">
                        <div class="about-style-one">
                            <h2 class="title mb-30">روند خلاق در آژانس ما</h2>
                            <p>
                                از کمپین های رهبری سنتی و فکری
                                برای فشرده سازیداستان پردازی و مدیریت رسانه های اجتماعی خلاق
                                ما شما را تحت پوشش قرار داده ایم.چیزی متوسط شما نیست
                                فروشنده سفارش دهنده.ما مفتخریم که رفتن به
                                شریک برای برخی از بزرگترین آژانس های بین المللی جهان
                                andbrands.دیدن او
                            </p>
                            <ul class="list-simple">
                                <li>ارتباط شگفت انگیز.</li>
                                <li>بهترین تجربه طراحی روند.</li>
                            </ul>
                            <a href="about-us.html" class="arrow-btn"><i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->
        <!-- Start Portfolio
        ============================================= -->
        <div class="portfolio-style-one-area default-padding bg-gray">

            <div class="container">
                <div class="heading-left">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content-left">
                                <h4 class="sub-title">پروژه های محبوب</h4>
                                <h2 class="title">آثار برجسته</h2>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row mt--50 mt-md-3-0 mt-xs--30">
                    <!-- Single Item -->
                    <div class="col-lg-6 item-center">
                        <div class="portfolio-style-one animate" data-animate="fadeInUp">
                            <div class="thumb-zoom">
                                <img src="/SiteTemplate/img/projects/1.jpg" alt="تصویر پیدا نشد">
                            </div>
                            <div class="pf-item-info">
                                <div class="content-info">
                                    <span>بازار</span>
                                    <h2><a href="project-details.html">عکسبرداری و ویرایش</a></h2>
                                </div>
                                <div class="button">
                                    <a href="project-details.html" class="pf-btn"><i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-6 item-center">
                        <div class="portfolio-style-one animate" data-animate="fadeInDown" data-duration="1.5s">
                            <div class="thumb-zoom">
                                <img src="/SiteTemplate/img/projects/2.jpg" alt="تصویر پیدا نشد">
                            </div>
                            <div class="pf-item-info">
                                <div class="content-info">
                                    <span>خلاق</span>
                                    <h2><a href="project-details.html">کیفیت در طراحی صنعتی</a></h2>
                                </div>
                                <div class="button">
                                    <a href="project-details.html" class="pf-btn"><i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-6 item-center">
                        <div class="portfolio-style-one animate" data-animate="fadeInUp" data-duration="2s">
                            <div class="thumb-zoom">
                                <img src="/SiteTemplate/img/projects/3.jpg" alt="تصویر پیدا نشد">
                            </div>
                            <div class="pf-item-info">
                                <div class="content-info">
                                    <span>طرح</span>
                                    <h2><a href="project-details.html">کارتهای موکاپ آبی شرکتی</a></h2>
                                </div>
                                <div class="button">
                                    <a href="project-details.html" class="pf-btn"><i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-6 item-center">
                        <div class="portfolio-style-one animate" data-animate="fadeInDown" data-duration="2.5s">
                            <div class="thumb-zoom">
                                <img src="/SiteTemplate/img/projects/4.jpg" alt="تصویر پیدا نشد">
                            </div>
                            <div class="pf-item-info">
                                <div class="content-info">
                                    <span>کسب و کار</span>
                                    <h2><a href="project-details.html">طراحی ساده سیاه و سفید	</a></h2>
                                </div>
                                <div class="button">
                                    <a href="project-details.html" class="pf-btn"><i class="fas fa-arrow-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- End Portfolio -->
        <!-- Start Fun Factor
        ============================================= -->
        <div class="fun-factor-circle-area default-padding-bottom bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="fun-fact-circle-lists">
                            <!-- Single item -->
                            <div class="fun-fact animate" data-animate="fadeInDown">
                                <div class="counter">
                                    <div class="timer" data-to="360" data-speed="3000">360</div>
                                    <div class="operator">هزار</div>
                                </div>
                                <span class="medium">مشتری جهانی</span>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="fun-fact animate" data-animate="fadeInUp" data-duration="0.5s">
                                <div class="counter">
                                    <div class="timer" data-to="98" data-speed="3000">98</div>
                                    <div class="operator">%</div>
                                </div>
                                <span class="medium">رتبه مثبت</span>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="fun-fact animate" data-animate="fadeInDown">
                                <div class="counter">
                                    <div class="timer" data-to="874" data-speed="3000">874</div>
                                    <div class="operator">+</div>
                                </div>
                                <span class="medium">کل شاخه</span>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="fun-fact animate" data-animate="fadeInUp" data-duration="0.5s">
                                <div class="counter">
                                    <div class="timer" data-to="35" data-speed="1000">35</div>
                                </div>
                                <span class="medium">تجربه سالها</span>
                            </div>
                            <!-- End Single item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Fun Factor -->
        <!-- Start Brand Area
        ============================================= -->
        <div class="brand-area relative overflow-hidden bg-gradient text-light">
            <div class="brand-style-one">
                <div class="container-fill">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-items">
                                <div class="brand-conetnt">
                                    <div class="item">
                                        <h2>بازار</h2>
                                    </div>
                                    <div class="item">
                                        <h2>تجارت</h2>
                                    </div>
                                    <div class="item">
                                        <h2>طرح</h2>
                                    </div>
                                    <div class="item">
                                        <h2>توسعه</h2>
                                    </div>
                                </div>
                                <div class="brand-conetnt">
                                    <div class="item">
                                        <h2>بازار</h2>
                                    </div>
                                    <div class="item">
                                        <h2>تجارت</h2>
                                    </div>
                                    <div class="item">
                                        <h2>طرح</h2>
                                    </div>
                                    <div class="item">
                                        <h2>توسعه</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradn Area -->
        <!-- Start Why Choose Us
        ============================================= -->
        <div class="choose-us-style-one-area default-padding bg-gray">
            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <div class="choose-us-style-one-thumb">
                            <img src="/SiteTemplate/img/about/2.jpg" alt="تصویر پیدا نشد">
                            <a href="https://www.youtube.com/watch؟v=ipUuoMCEbDQ" class="popup-youtube video-play-button">
                                <i class="fas fa-play"></i>
                                <div class="effect"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="choose-us-style-one d-flex-between">
                            <div class="top-info">
                                <h4 class="sub-title">چرا Avrix</h4>
                                <h2 class="title">رشد درآمد را برای تجارت خود باز کنید</h2>
                            </div>
                            <div class="bottom-info">
                                <ul class="list-item">
                                    <li>توسعه سریع <strong>01</strong></li>
                                    <li>انعطاف پذیری کامل <strong>02</strong></li>
                                    <li>طراحی مدرن <strong>03</strong></li>
                                    <li>نگهداری ساده <strong>04</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Choose Us -->
        <!-- Start Testimonial Area
        ============================================= -->
        <div class="testimonial-style-one-area default-padding-top">

            <div class="container">
                <div class="heading-left">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content-left">
                                <h4 class="sub-title">توصیفات</h4>
                                <h2 class="title">آنچه مردم می گویند</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="testimonial-one-carousel-box">
                        <div class="testimonial-style-one-carousel swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Single item -->
                                <div class="swiper-slide">
                                    <div class="testimonial-style-one">
                                        <div class="provider">
                                            <div class="thumb">
                                                <img src="/SiteTemplate/img/team/15.jpg" alt="تصویر پیدا نشد">
                                                <div class="quote">
                                                    <img src="/SiteTemplate/img/shape/quote-big.png" alt="تصویر پیدا نشد">
                                                </div>
                                            </div>
                                            <div class="info">
                                                <h4>متیو جی وایمن</h4>
                                                <span>مشاور ارشد</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>
                                                هدف قرار دادن مشاوره آپارتمان ها را کشف کنید. نوشت: علی رغم او باعث شد.برنامه ریزی کنید تا هفته خود را به صورت سرد بدست آورید.تقریباً قلب ها را انجام می دهم.احزاب را حل کنید اما چرا او را نشان می دهد.او آواز می دانست که اکنون همیشه به یاد می آورد که در ابعاد در هر مسئله فنی.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single item -->
                                <!-- Single item -->
                                <div class="swiper-slide">
                                    <div class="testimonial-style-one">
                                        <div class="provider">
                                            <div class="thumb">
                                                <img src="/SiteTemplate/img/team/9.jpg" alt="تصویر پیدا نشد">
                                                <div class="quote">
                                                    <img src="/SiteTemplate/img/shape/quote-big.png" alt="تصویر پیدا نشد">
                                                </div>
                                            </div>
                                            <div class="info">
                                                <h4>جمشید ایرانی</h4>
                                                <span>مدیر بازاریابی</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>
                                                هدف قرار دادن مشاوره آپارتمان ها را کشف کنید. نوشت: علی رغم او باعث شد.برنامه ریزی کنید تا هفته خود را به صورت سرد بدست آورید.تقریباً قلب ها را انجام می دهم.احزاب را حل کنید اما چرا او را نشان می دهد.او آواز می دانست که اکنون همیشه به یاد می آورد که در ابعاد در هر مسئله فنی.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single item -->
                                <!-- Single item -->
                                <div class="swiper-slide">
                                    <div class="testimonial-style-one">
                                        <div class="provider">
                                            <div class="thumb">
                                                <img src="/SiteTemplate/img/team/14.jpg" alt="تصویر پیدا نشد">
                                                <div class="quote">
                                                    <img src="/SiteTemplate/img/shape/quote-big.png" alt="تصویر پیدا نشد">
                                                </div>
                                            </div>
                                            <div class="info">
                                                <h4>شهروز ایرانی</h4>
                                                <span>توسعه دهنده ارشد</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>
                                                هدف قرار دادن مشاوره آپارتمان ها را کشف کنید نوشت: علی رغم او باعث شد.برنامه ریزی کنید تا هفته خود را به صورت سرد بدست آورید.تقریباً قلب ها را انجام می دهم.احزاب را حل کنید اما چرا او را نشان می دهد.او آواز می دانست که اکنون همیشه به یاد می آورد که در ابعاد در هر مسئله فنی.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single item -->
                            </div>

                        </div>

                        <!-- Navigation -->
                        <div class="testimonial-one-swiper-nav">

                            <!-- Pagination -->
                            <div class="testimonial-one-pagination"></div>

                            <div class="testimonial-one-button-prev"></div>
                            <div class="testimonial-one-button-next"></div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- End Testimonial Area -->
        <!-- Start Slide Section
        ============================================= -->
        <div class="multi-section overflow-hidden bg-dark-secondary text-light">
            <div class="bg-shape-top">
                <img src="/SiteTemplate/img/shape/bg-shape-1.png" alt="تصویر پیدا نشد">
            </div>

            <div class="thecontainer">

                <!-- Single Section -->
                <div class="panel overflow-hidden">
                    <div class="container overflow-hidden">
                        <div class="row align-center rtlctn">
                            <div class="col-lg-4">
                                <div class="site-title">
                                    <h4 class="sub-title">جایزه و دستاورد </h4>
                                    <h2 class="title">جوایز و شناخت</h2>
                                </div>
                            </div>
                            <div class="col-lg-7 offset-lg-1">
                                <div class="achivement-items">
                                    <div class="achivement-grid">
                                        <div class="achivement-item">
                                            <i class="fab fa-behance"></i>
                                            <h4>جوایز </h4>
                                        </div>
                                        <div class="achivement-item">
                                            <i class="fas fa-layer-group"></i>
                                            <h4>جوایز طراحی</h4>
                                        </div>
                                    </div>
                                    <div class="achivement-grid">
                                        <div class="achivement-item">
                                            <i class="fab fa-laravel"></i>
                                            <h4>جوایز برنامه نویسی</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Section -->
                <!-- Single Section -->
                <div class="panel overflow-hidden bg-gradient">
                    <div class="container overflow-hidden">
                        <div class="expertise-area text-center rtlctn">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="site-title">
                                        <h4 class="sub-title">تخصص ما </h4>
                                        <h2 class="title">بهترین ارائه دهنده راه حل ها</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="achivement-skill-items">
                                        <!-- Progress Bar Start -->
                                        <div class="progress-box">
                                            <h5>زبان برنامه نویسی</h5>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-width="79">
                                                    <span>79%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <h5>توسعه پس زمینه</h5>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-width="95">
                                                    <span>95%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-box">
                                            <h5>طراحی محصول</h5>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-width="80">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progressbar -->
                                        <div class="progress-box">
                                            <h5>UI/UX</h5>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-width="67">
                                                    <span>67%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progressbar -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Section -->
                <!-- Single Section -->
                <div class="panel contact-panel overflow-hidden">
                    <div class="contact-panel-bg" style="background-image: url(/SiteTemplate/img/about/3.jpg);"></div>
                    <div class="container overflow-hidden rtlctn">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="sub-title">آیا در ذهن شما پروژه؟؟</h4>
                                <h2 class="title">برای پشتیبانی فوری لطفا به ما برسید</h2>
                                <a class="btn-round-animation dark mt-40" href="contact-us.html">ارسال ایمیل <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Section -->

            </div>
        </div>
        <!-- End Slide Section -->
        <!-- Start Blog
        ============================================= -->
        <div class="blog-area home-blog default-padding bottom-less">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h4 class="sub-title">خبرها و رویدادها</h4>
                            <h2 class="title">آخرین پست های وبلاگ </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="home-blog-style-one">
                            <div class="thumb">
                                <a href="blog-single-with-sidebar.html"><img src="/SiteTemplate/img/blog/3.jpg" alt="تصویر پیدا نشد"></a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="index.html#">جمشید ایرانی</a>
                                        </li>
                                        <li>
                                            3 شهریور 1402
                                        </li>
                                    </ul>
                                </div>
                                <h4 class="post-title"><a href="blog-single-with-sidebar.html">اگر بدبختانه با جدیت فرمان داده شود اگر.</a></h4>
                                <a href="blog-single-with-sidebar.html" class="button-regular">
                                    ادامه خواندن <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="home-blog-style-one">
                            <div class="thumb">
                                <a href="blog-single-with-sidebar.html"><img src="/SiteTemplate/img/blog/2.jpg" alt="تصویر پیدا نشد"></a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="index.html#">جمشید ایرانی</a>
                                        </li>
                                        <li>
                                            3 شهریور 1402
                                        </li>
                                    </ul>
                                </div>
                                <h4 class="post-title"><a href="blog-single-with-sidebar.html">عدم پذیرش بیان خاص</a></h4>
                                <a href="blog-single-with-sidebar.html" class="button-regular">
                                    ادامه خواندن <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- End Blog -->
        <!-- Start Footer
        ============================================= -->
        <Footer LogoStyle="false"/>
    </div>
</body>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
