
<header>
    <!-- Start Navigation -->
    <nav class="navbar navbar-common mobile-sidenav navbar-sticky navbar-default validnavs navbar-fixed dark no-background">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <NavLink href="/" class="navbar-brand">
                    @{
                        if (LogoStyle)
                        {
                            <img src="/SiteTemplate/img/logo/main-logo-black.webp" class="logo" alt="لوگو">
                        }
                        else
                        {
                            <img src="/SiteTemplate/img/logo/main-logo-white.webp" class="logo" alt="لوگو">
                        }
                    }
                </NavLink>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                @{
                    if (LogoStyle)
                    {
                        <img src="/SiteTemplate/img/logo/main-logo-black.webp" alt="لوگو">
                    }
                    else
                    {
                        <img src="/SiteTemplate/img/logo/main-logo-white.webp" alt="لوگو">
                    }
                }
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-times"></i>
                </button>
                <ul class="nav2-navbar navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="dropdown">
                        <NavLink href="/" class="dropdown-toggle" data-toggle="dropdown">
                            خانه
                            <i class="fas fa-chevron-down"></i>
                        </NavLink>
                        <ul class="nav2-dropdown-menu">
                            <li><a href="index.html">آژانس دیجیتال</a></li>
                            <li><a href="index-2.html">نمونه کار افقی <span class="badge">ترند</span></a></li>
                            <li><a href="index-5.html">نمونه کار پارالاکس <span class="badge">جدید</span></a></li>
                            <li><a href="index-3.html">آژانس خلاق</a></li>
                            <li><a href="index-4.html">تغییر نمونه کارها</a></li>
                            <li class="dropdown">
                                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">نسخه چراغ خانگی</a>
                                <ul class="nav2-dropdown-menu">
                                    <li><a href="index-light.html">آژانس دیجیتال</a></li>
                                    <li><a href="index-3-light.html">آژانس خلاق</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-children-mobile">
                                <ul>
                                    <li><a href="index-light.html">آژانس دیجیتال</a></li>
                                    <li><a href="index-3-light.html">آژانس خلاق</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <NavLink href="/nationfilmposters">پوسترها</NavLink>
                    </li>
                    <li class="dropdown">
                        <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">خدمات
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <ul class="nav2-dropdown-menu">
                            <li><a href="services.html">نسخه خدمات یک</a></li>
                            <li><a href="services-2.html">نسخه خدمات دو</a></li>
                            <li><a href="services-details.html">استراتژی بازاریابی</a></li>
                            <li><a href="services-details.html">مشاوره شرکت</a></li>
                            <li><a href="services-details.html">ردیابی رشد</a></li>
                            <li><a href="services-details.html">بازاریابی از طریق رسانه های اجتماعی</a></li>
                            <li><a href="services-details.html">تحقیق در کلمات کلیدی</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">وبلاگ
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <ul class="nav2-dropdown-menu">
                            <li><a href="blog-standard.html">استاندارد وبلاگ</a></li>
                            <li><a href="blog-with-sidebar.html">وبلاگ با نوار کناری</a></li>
                            <li><a href="blog-2-colum.html">شبکه وبلاگ دو ستون</a></li>
                            <li><a href="blog-3-colum.html">شبکه وبلاگ سه ستون</a></li>
                            <li><a href="blog-single.html">مجرد وبلاگ</a></li>
                            <li><a href="blog-single-with-sidebar.html">آهنگ وبلاگ با نوار کناری</a></li>
                        </ul>
                    </li>
                    <li><NavLink class="exclude-dropdown" href="/admin/admindashboard">داشبُرد</NavLink></li>
                </ul>

            </div><!-- /.navbar-collapse -->

            <div class="attr-right">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav flex">
                    <ul>
                        <li class="contact">
                            <div class="call">
                                <div class="icon">
                                    <i class="fas fa-comments-alt-dollar"></i>
                                </div>
                                <div class="info">
                                    <p>تنها پوستر است که می‌ماند</p>
                                    <h5><a href="mailto:info@filmposter.ir">info[at]filmposter.ir</a></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

            </div>
            <!-- Main Nav -->

        </div>
        <!-- Overlay screen for menu -->
        <div class="overlay-screen"></div>
        <!-- End Overlay screen for menu -->
    </nav>
    <!-- End Navigation -->
</header>

@code {
    [Parameter]
    public bool LogoStyle { get; set; }
}
